<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/bootstrap-head %>
</head>

<body>
	<div class="row">
		<div class="col col-12">
			<% include ../partials/main-nav%>
		</div>
	</div>

	<div class="row m-3">
		<div class="col-sm-4 col-lg-2 col-xs-12">
			<div class="card">
				<h5 class="card-header font-weight-bold">Navigation</h5>
				<div class="list-group">
					<a class="list-group-item list-group-item-action" href="/courses/<%= course.id %>">
						<%= course.subject %><%= course.number %>-<%= course.section %> <%= course.semester %>
					</a>
					<a class="list-group-item list-group-item-action" href="/courses/<%= course.id %>/gradebook">Grades</a>
					<a class="list-group-item list-group-item-action" href="/courses/<%= course.id %>/participants">Participants</a>
					<a class="list-group-item list-group-item-action" href="#">Calendar</a>
				</div>
			</div>
		</div>

		<div class="col-sm-8 col-lg-10 col-xs-12">
			<div class="card">
				<div class="card-body">
					<h5 class="font-weight-bold"><%= course.subject %> <%= course.number %> <%= course.title %> </h5>
				</div>

				<div class="breadcrumb-nav">
					<nav role="navigation">
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="/courses">My Courses</a>
							</li>
							<li class="breadcrumb-item">
								<a href="/courses/<%= course.id %>/" title="course-name"><%= course.title %></a>
							</li>
							<li class="breadcrumb-item">
								Participants
							</li>
						</ol>
					</nav>
				</div>
				<p>im not sure how to get student object here...</p>
				<% for(let i = 0; i < students.length; i++) { %>
					<p>Student: <%= students[i]._id %></p>
				<% } %>
			</div>
		</div>
	</div>
</body>
</html>