<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/bootstrap-head %>
</head>

<body>
	<div class="row">
		<div class="col col-12">
			<% include ../partials/main-nav%>
		</div>
	</div>

	<div class="row m-3">
		<div class="col-lg-3 col-sm-3 col-xs-12">
			<div class="card">
				<h5 class="card-header font-weight-bold">Navigation</h5>
				<div class="list-group">
					<a class="list-group-item list-group-item-action" href="/courses/<%= course.id %>">
						<%= course.subject %><%= course.number %>-<%= course.section %> <%= course.semester %>
					</a>
					<a class="list-group-item list-group-item-action" href="/courses/<%= course.id %>/gradebook">Grades</a>
					<a class="list-group-item list-group-item-action" href="/courses/<%= course.id %>/participants">Participants</a>
					<a class="list-group-item list-group-item-action" href="#">Calendar</a>
				</div>
			</div>
		</div>

		<div class="col-lg-6 col-sm-8 col-xs-12">
			<div class="card">
			   <h5 class="card-header font-weight-bold"><%= course.subject %> <%= course.number %> <%= course.title %></h5>
				<div class="breadcrumb-nav">
					<nav role="navigation">
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="/courses">My Courses</a>
							</li>
							<li class="breadcrumb-item">
								<%= course.title %>
							</li>
						</ol>
					</nav>
				</div>
			</div>

			<div class="card">
				<div class="card-body">
					<div class="card">
						<ul>
							<h3>
								<a href="#">Syllabus</a>
							</h3>
							<ul class="section img-text">
								<li>
									<a class="" onclick="" href="">
										<img src="https://ilearn.sfsu.edu/ay1819/theme/image.php/ilearn34/core/1550063239/f/document-24"
											class="iconlarge activityicon" alt=" " role="presentation">

										<span class="instancename">Syllabus</span>
										<span>File</span>
									</a>
								</li>
							</ul>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-sm-12 col-xs-12">
			<% include ../partials/ilearn-support-card%>
		</div>
	</div>
</body>
</html>