<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/bootstrap-head %>
</head>

<body>
	<div class="row">
		<div class="col col-12">
			<% include ../partials/main-nav%>
		</div>
	</div>


	<div class=" row m-3">
		<div class="col-sm-4 col-lg-2 col-xs-12">

			<div class="card">
				<div class="card-header">
					Your assignments
				</div>

				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<a href="#">List</a>
					</li>

					<li class="list-group-item">
						<a href="#">Of the</a>
					</li>

					<li class="list-group-item">
						<a href="#">Grade links</a>
					</li>

				</ul>
			</div>

		</div>

		<div class="col-sm-8 col-lg-10 col-xs-12">
			<div class="card">
				<div class="card-body">
					<h5 class="font-weight-bold"><%= course.subject %> <%= course.number %> <%= course.title %> </h5>
				</div>

				<div class="breadcrumb-nav">
					<nav role="navigation">
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="#">My Courses</a>
							</li>
							<li class="breadcrumb-item">
								<a href="#" title="course-name"><%= course.title %></a>
							</li>
							<li class="breadcrumb-item">
								<a href="#" title="course-name">Grades</a>
							</li>
						</ol>
					</nav>
				</div>
			</div>

			<div class="table-responsive">
				<div class="card-body">
					<table class="table table-striped">

						<thead>
							<tr>
								<th id="itemname" class="header">Grade item</th>
								<th id="grade" class="header">Grade</th>
								<th id="range" class="header">Range</th>
								<th id="percentage" class="header">Percentage</th>
								<th id="weight" class="header column-weight">Calculated weight</th>
								<th id="contributiontocoursetotal" class="header column-contributiontocoursetotal">
									Contribution to course total</th>
							</tr>
						</thead>

						<tbody>
							<% for(var i=0; i < items.length; i++) { %>
							<tr>
								<th colspan="1"><span tabindex="0"><img class="icon icon itemicon" alt="Natural"
											title="Natural"
											src="https://ilearn.sfsu.edu/ay1819/theme/image.php/ilearn34/core/1550063239/i/agg_sum">Course
										total</span></th>
								<td>299.25 (A)</td>
								<td>0.00–300.00</td>
								<td>99.75 %</td>
								<td>-</td>
								<td><%= items[i].weight %>%</td>
							</tr>
							<% } %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>

</html>